{% load static %}
<link
rel="stylesheet"
id="contact-form-7-css"
href="{% static "plugins/contact-form-7/includes/css/stylese2db.css" %}"
type="text/css"
media="all"
/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap" rel="stylesheet">
<link
rel="stylesheet"
id="redux-extendify-styles-css"
href="{% static "plugins/fxvibe-plugin/redux-framework/redux-core/assets/css/extendify-utilities449f.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="tutor-icon-css"
href="{% static "plugins/tutor/assets/css/tutor-icon.minae29.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="tutor-css"
href="{% static "plugins/tutor/assets/css/tutor.minae29.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="tutor-frontend-css"
href="{% static "plugins/tutor/assets/css/tutor-front.minae29.css" %}"
type="text/css"
media="all"
/>
<style id="tutor-frontend-inline-css" type="text/css">
.mce-notification.mce-notification-error {
  display: none !important;
}
:root {
  --tutor-color-primary: #26c48c;
  --tutor-color-primary-rgb: 38, 196, 140;
  --tutor-color-primary-hover: #132720;
  --tutor-color-primary-hover-rgb: 19, 39, 32;
  --tutor-body-color: #827e7d;
  --tutor-body-color-rgb: 130, 126, 125;
  --tutor-border-color: #dbe5e2;
  --tutor-border-color-rgb: 219, 229, 226;
  --tutor-color-gray: #dbe5e2;
  --tutor-color-gray-rgb: 219, 229, 226;
}
</style>
<link
rel="stylesheet"
id="woocommerce-layout-css"
href="{% static "plugins/woocommerce/assets/css/woocommerce-layout4615.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="woocommerce-smallscreen-css"
href="{% static "plugins/woocommerce/assets/css/woocommerce-smallscreen4615.css" %}"
type="text/css"
media="only screen and (max-width: 768px)"
/>
<link
rel="stylesheet"
id="woocommerce-general-css"
href="{% static "plugins/woocommerce/assets/css/woocommerce4615.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="font-awesome-all-css"
href="{% static "assets/css/font-awesome-allb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="flaticon-css"
href="{% static "assets/css/flaticonb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="owl-css"
href="{% static "assets/css/owlb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="bootstrap-css"
href="{% static "assets/css/bootstrapb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="jquery-fancybox-css"
href="{% static "assets/css/jquery.fancybox.minb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fancybox-css"
href="{% static "assets/css/animateb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="nice-select-css"
href="{% static "assets/css/nice-selectb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="jquery-ui-css"
href="{% static "assets/css/jquery-uib6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fxvibe-main-css"
href="{% static "styleb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fxvibe-main-style-css"
href="{% static "assets/css/styleb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fxvibe-color4-css"
href="{% static "assets/css/color4b6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fxvibe-custom-css"
href="{% static "assets/css/customb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fxvibe-responsive-css"
href="{% static "assets/css/responsiveb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fxvibe-woocommerce-css"
href="{% static "assets/css/woocommerceb6a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="fxvibe-theme-fonts-css"
href="https://fonts.googleapis.com/css?family=Be+Vietnam+Pro%3Awght%40100%2C200%2C300%2C400%2C500%2C600%2C700%2C800%2C900%26display%3Dswap%7CInstrument+Sans%3Awght%40300%2C400%2C500%2C600%2C700%2C800%2C900%26display%3Dswap&amp;subset=latin%2Clatin-ext"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="elementor-frontend-css"
href="{% static "uploads/elementor/css/custom-frontend-lite.mincda7.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="swiper-css"
href="{% static "plugins/elementor/assets/lib/swiper/v8/css/swiper.min94a4.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="elementor-post-10-css"
href="{% static "uploads/elementor/css/post-10cda7.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="elementor-global-css"
href="{% static "uploads/elementor/css/global0837.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="elementor-post-18-css"
href="{% static "uploads/elementor/css/post-18971a.css" %}"
type="text/css"
media="all"
/>
<link
rel="stylesheet"
id="google-fonts-1-css"
href="https://fonts.googleapis.com/css?family=Roboto%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CRoboto+Slab%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic%7CBe+Vietnam+Pro%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2C400%2C400italic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;display=swap&amp;ver=6.6.1"
type="text/css"
media="all"
/>
<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />

<script
type="text/javascript"
src="{% static "wp-includes/js/jquery/jquery.minf43b.js" %}"
id="jquery-core-js"
></script>
<script
type="text/javascript"
src="{% static "wp-includes/js/jquery/jquery-migrate.min5589.js" %}"
id="jquery-migrate-js"
></script>
<link
      rel="shortcut icon"
      href="{% static "assets/images/favicon.ico" %}"
      type="image/x-icon"
    />
    <link
      rel="icon"
      href="{% static "assets/images/favicon.ico" %}"
      type="image/x-icon"
    />
<script
type="text/javascript"
src="{% static "plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.minb152.js" %}"
id="jquery-blockui-js"
defer="defer"
></script>
<link rel="https://api.w.org/" href="wp-json/index.html" />
<link
rel="alternate"
title="JSON"
type="application/json"
href="wp-json/wp/v2/pages/18.json"
/>
<link
rel="EditURI"
type="application/rsd+xml"
title="RSD"
href="xmlrpc0db0.html?rsd"
/>