{% load static %}
<script>(function() {function maybePrefixUrlField () {
    const value = this.value.trim()
    if (value !== '' && value.indexOf('http') !== 0) {
      this.value = 'http://' + value
    }
  }
  
  const urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]')
  for (let j = 0; j < urlFields.length; j++) {
    urlFields[j].addEventListener('blur', maybePrefixUrlField)
  }
  })();</script>			<script type='text/javascript'>
                  const lazyloadRunObserver = () => {
                      const lazyloadBackgrounds = document.querySelectorAll( `.e-con.e-parent:not(.e-lazyloaded)` );
                      const lazyloadBackgroundObserver = new IntersectionObserver( ( entries ) => {
                          entries.forEach( ( entry ) => {
                              if ( entry.isIntersecting ) {
                                  let lazyloadBackground = entry.target;
                                  if( lazyloadBackground ) {
                                      lazyloadBackground.classList.add( 'e-lazyloaded' );
                                  }
                                  lazyloadBackgroundObserver.unobserve( entry.target );
                              }
                          });
                      }, { rootMargin: '200px 0px 200px 0px' } );
                      lazyloadBackgrounds.forEach( ( lazyloadBackground ) => {
                          lazyloadBackgroundObserver.observe( lazyloadBackground );
                      } );
                  };
                  const events = [
                      'DOMContentLoaded',
                      'elementor/lazyload/observe',
                  ];
                  events.forEach( ( event ) => {
                      document.addEventListener( event, lazyloadRunObserver );
                  } );
              </script>
                  <script type='text/javascript'>
          (function () {
              var c = document.body.className;
              c = c.replace(/woocommerce-no-js/, 'woocommerce-js');
              document.body.className = c;
          })();
      </script>
      <link rel='stylesheet' id='wc-blocks-style-css' href='{% static "plugins/woocommerce/assets/client/blocks/wc-blocksbbf5.css" %}' type='text/css' media='all' />
  <script type="text/javascript" src="{% static "wp-includes/js/dist/hooks.min2757.js" %}" id="wp-hooks-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/dist/i18n.minc33c.js" %}" id="wp-i18n-js"></script>
  <script type="text/javascript" id="wp-i18n-js-after">
  /* <![CDATA[ */
  wp.i18n.setLocaleData( { 'text direction\u0004ltr': [ 'ltr' ] } );
  /* ]]> */
  </script>
  <script type="text/javascript" src="{% static "plugins/contact-form-7/includes/swv/js/indexe2db.js" %}" id="swv-js"></script>
  <script type="text/javascript" src="{% static "plugins/contact-form-7/includes/js/indexe2db.js" %}" id="contact-form-7-js"></script>
  <script type="text/javascript" src="{% static "plugins/tutor/assets/js/tutor.minae29.js" %}" id="tutor-script-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/quicktags.minb6a4.js" %}" id="quicktags-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/jquery/ui/core.minb37e.js" %}" id="jquery-ui-core-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/jquery/ui/mouse.minb37e.js" %}" id="jquery-ui-mouse-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/jquery/ui/sortable.minb37e.js" %}" id="jquery-ui-sortable-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/jquery/jquery.ui.touch-punchc682.js" %}" id="jquery-touch-punch-js"></script>
  <script type="text/javascript" src="{% static "plugins/tutor/assets/packages/SocialShare/SocialShare.minae29.js" %}" id="tutor-social-share-js"></script>
  <script type="text/javascript" src="{% static "plugins/tutor/assets/js/tutor-front.minae29.js" %}" id="tutor-frontend-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/jquery/ui/datepicker.minb37e.js" %}" id="jquery-ui-datepicker-js"></script>
  <script type="text/javascript" src="{% static "plugins/woocommerce/assets/js/sourcebuster/sourcebuster.min4615.js" %}" id="sourcebuster-js-js"></script>
  <script type="text/javascript" src="{% static "plugins/woocommerce/assets/js/frontend/order-attribution.min4615.js" %}" id="wc-order-attribution-js"></script>
  <script type="text/javascript" src="{% static "assets/js/popper.min431f.js" %}" id="popper-js"></script>
  <script type="text/javascript" src="{% static "assets/js/bootstrap.min431f.js" %}" id="bootstrap-js"></script>
  <script type="text/javascript" src="{% static "assets/js/owl431f.js" %}" id="owl-js"></script>
  <script type="text/javascript" src="{% static "assets/js/wow431f.js" %}" id="wow-js"></script>
  <script type="text/javascript" src="{% static "assets/js/jquery.fancybox431f.js" %}" id="jquery-fancybox-js"></script>
  <script type="text/javascript" src="{% static "assets/js/appear431f.js" %}" id="appear-js"></script>
  <script type="text/javascript" src="{% static "assets/js/scrollbar431f.js" %}" id="scrollbar-js"></script>
  <script type="text/javascript" src="{% static "assets/js/isotope431f.js" %}" id="isotope-js"></script>
  <script type="text/javascript" src="{% static "assets/js/jquery.nice-select.min431f.js" %}" id="jquery-nice-select-js"></script>
  <script type="text/javascript" src="{% static "assets/js/jquery.lettering.min431f.js" %}" id="jquery-lettering-js"></script>
  <script type="text/javascript" src="{% static "assets/js/jquery.circleType431f.js" %}" id="jquery-circleType-js"></script>
  <script type="text/javascript" src="{% static "assets/js/bxslider431f.js" %}" id="bxslider-js"></script>
  <script type="text/javascript" src="{% static "assets/js/profit-calculator431f.js" %}" id="profit-calculator-js"></script>
  <script type="text/javascript" src="{% static "assets/js/scriptb6a4.js" %}" id="fxvibe-main-script-js"></script>
  <script type="text/javascript" src="{% static "wp-includes/js/comment-reply.minb6a4.js" %}" id="comment-reply-js" async="async" data-wp-strategy="async"></script>
  <script type="text/javascript" src="{% static "plugins/elementor/assets/js/webpack.runtime.mind5d5.js" %}" id="elementor-webpack-runtime-js"></script>
  <script type="text/javascript" src="{% static "plugins/elementor/assets/js/frontend-modules.mind5d5.js" %}" id="elementor-frontend-modules-js"></script>
  <script type="text/javascript" src="{% static "plugins/elementor/assets/lib/waypoints/waypoints.min05da.js" %}" id="elementor-waypoints-js"></script>
  <script type="text/javascript" src="{% static "plugins/elementor/assets/js/frontend.mind5d5.js" %}" id="elementor-frontend-js"></script>
  <script type="text/javascript" src="{% static "plugins/fxvibe-plugin/assets/js/single-carousel8a54.js" %}" id="awards-script-js"></script>
  <script type="text/javascript" defer src="{% static "plugins/mailchimp-for-wp/assets/js/forms761a.js" %}" id="mc4wp-forms-api-js"></script>