{% load static %}
<!-- footer-style-four -->
<footer class="footer-style-four">
    <div
      class="pattern-layer"
      style="
        background-image: url({% static "uploads/2024/03/shape-28.png" %});
      "
    ></div>
    <div class="auto-container">
      <div class="footer-top">
        <div class="footer-top-inner">
          <figure class="footer-logo">
            <a href="index.html"
              ><img
                src="{% static "assets/images/logo2.png" %}"
                alt="Awesome Image"
            /></a>
          </figure>

          <div class="footer-top-info">
            <p>&copy; 2024 <a href="#">Ryptocurrencystakes.</a> All Rights Reserved.</p>

            <ul class="footer-nav">
              <li
                id="menu-item-4132"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4132"
              >
                <a href="#" onClick="return true"
                  >Privacy Policy<span class="menu-item_plus"></span
                ></a>
              </li>
              <li
                id="menu-item-4133"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4133"
              >
                <a href="#" onClick="return true"
                  >Terms &#038; Conditions<span
                    class="menu-item_plus"
                  ></span
                ></a>
              </li>
              <li
                id="menu-item-4134"
                class="menu-item menu-item-type-custom menu-item-object-custom menu-item-4134"
              >
                <a href="#" onClick="return true"
                  >Legal<span class="menu-item_plus"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="widget-section">
        <div class="row clearfix">
          <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
            <div
              id="fxvibe_newsletter-2"
              class="footer-widget widget_fxvibe_newsletter"
            >
              <div class="newsletter-widget">
                <div class="widget-title"><h6>Newsletter</h6></div>
                <div class="widget-content">
                  <p>Get the Latest - Subscribe Instantly</p>
                  <form
                    id="mc4wp-form-1"
                    class="mc4wp-form mc4wp-form-993"
                    method="post"
                    data-id="993"
                    data-name=""
                  >
                    <div class="mc4wp-form-fields">
                      <div class="form-group">
                        <input
                          type="email"
                          name="EMAIL"
                          placeholder="Your email address"
                          required
                        />
                        <button type="submit" class="theme-btn">
                          <span></span>
                        </button>
                      </div>
                    </div>
                    <label style="display: none !important"
                      >Leave this field empty if you're human:
                      <input
                        type="text"
                        name="_mc4wp_honeypot"
                        value=""
                        tabindex="-1"
                        autocomplete="off" /></label
                    ><input
                      type="hidden"
                      name="_mc4wp_timestamp"
                      value="1722889810"
                    /><input
                      type="hidden"
                      name="_mc4wp_form_id"
                      value="993"
                    /><input
                      type="hidden"
                      name="_mc4wp_form_element_id"
                      value="mc4wp-form-1"
                    />
                    <div class="mc4wp-response"></div>
                  </form>
                  <!-- / Mailchimp for WordPress Plugin -->
                  <ul class="list-style-four clearfix">
                    <li>Insights and Analysis</li>
                    <li>Trading Strategies and Tips</li>
                    <li>Offers &amp; discounts</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
            <div id="nav_menu-7" class="footer-widget widget_nav_menu">
              <div class="widget-title"><h6>Company</h6></div>
              <div class="menu-useful-link-v2-container">
                <ul id="menu-useful-link-v2" class="menu">
                  {% for link,val in  content.footer_links.items %}
                  <li
                  id="menu-item-4167"
                  class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4167"
                >
                  <a
                    href="#"
                    onClick="return true"
                    >{{val}}</a
                  >
                </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 footer-column">
            <div
              id="fxvibe_support-3"
              class="footer-widget widget_fxvibe_support"
            >
              <div class="contact-widget">
                <div class="widget-title"><h6>Support</h6></div>
                <div class="widget-content">
                  <p>Find our office!</p>
                  <span class="address"
                    >{{content.address}}</span
                  >
                  <p>Prefer emailing us!</p>
                  <h5>
                    <a href="mailto:info@example,com">{{content.footer_contact_email}}</a>
                  </h5>
                  <p>Prefer call us!</p>
                  <h5><a href="tel:{{content.phone_no}}">{{content.phone_no}}</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </footer>
  <!-- footer-style-four end -->