{% load static %}
<header class="main-header header-style-four">
    <!-- header-upper -->
    <div class="header-upper">
      <div class="auto-container">
        <div class="upper-inner">
          <div class="left-column">
            <div class="single-item">
              <div class="icon-box">
                {% comment %} <img
                  src="{% static "uploads/2024/02/icon-44.png" %}"
                  alt="Awesome Image"
                /> {% endcomment %}
              </div>
              {% comment %} <h5>
                <a href="student-registration/index.html">Login </a
                ><span>-or</span>
              </h5>
              <h6>
                <a href="accounts-overview/demo-account/index.html"
                  >Create your account</a
                >
              </h6> {% endcomment %}
            </div>
          </div>

          <figure class="logo-box">
            <a href="index.html" title="Ryptocurrencystakes"
              ><img
                src="{% static "assets/images/logo2.png" %}"
                alt="logo"
                style=""
            /></a>
          </figure>

          <div class="right-column">
            <div class="single-item">
              <div class="icon-box">
                {% comment %} <img
                  src="{% static "uploads/2024/02/icon-45.png" %}"
                  alt="Awesome Image"
                /> {% endcomment %}
              </div>
              {% comment %} <h5>Get Funded</h5>
              <h6>Profit with our expertise</h6> {% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- header-lower -->
    <div class="header-lower">
      <div class="auto-container">
        <div class="outer-box">
          <div class="menu-area clearfix">
            <div class="line-1"></div>
            <div class="line-2"></div>
            <!--Mobile Navigation Toggler-->
            <div class="mobile-nav-toggler">
              <i class="icon-bar"></i>
              <i class="icon-bar"></i>
              <i class="icon-bar"></i>
            </div>
            <nav class="main-menu navbar-expand-md navbar-light">
              <div
                class="collapse navbar-collapse show clearfix"
                id="navbarSupportedContent"
              >
                <ul class="navigation clearfix">
                  <li
                    id="menu-item-29"
                    class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-29 current"
                  >
                    <a href="/" onClick="return true"
                      >Home<span class="menu-item_plus"></span
                    ></a>
                  </li>
                  <li
                    id="menu-item-58"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-58"
                  >
                    <a href="{% url "about" %}" onClick="return true"
                      >About Us<span class="menu-item_plus"></span
                    ></a>
                    {% comment %} <ul class="sub-menu submenu menu-sub-content">
                      <li
                        id="menu-item-3171"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3171"
                      >
                        <a
                          href="about-company/index.html"
                          onClick="return true"
                          >About Company<span class="menu-item_plus"></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-3203"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3203"
                      >
                        <a
                          href="history/index.html"
                          onClick="return true"
                          >History<span class="menu-item_plus"></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-4235"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-4235 dropdown"
                      >
                        <a href="#" onClick="return true"
                          >Team<span class="menu-item_plus"></span
                        ></a>
                        <ul class="sub-menu submenu menu-sub-content">
                          <li
                            id="menu-item-3225"
                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3225"
                          >
                            <a
                              href="team-members/index.html"
                              onClick="return true"
                              >Team Members<span
                                class="menu-item_plus"
                              ></span
                            ></a>
                          </li>
                          <li
                            id="menu-item-4236"
                            class="menu-item menu-item-type-post_type menu-item-object-team menu-item-4236"
                          >
                            <a
                              href="team/michal-starck/index.html"
                              onClick="return true"
                              >Team Details<span
                                class="menu-item_plus"
                              ></span
                            ></a>
                          </li>
                        </ul>
                      </li>
                      <li
                        id="menu-item-3256"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3256"
                      >
                        <a href="faqs/index.html" onClick="return true"
                          >Faq’s<span class="menu-item_plus"></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-3258"
                        class="menu-item menu-item-type-custom menu-item-object-custom menu-item-3258"
                      >
                        <a
                          href="index8d4e.html?p=123456abc"
                          onClick="return true"
                          >404<span class="menu-item_plus"></span
                        ></a>
                      </li>
                    </ul> {% endcomment %}
                  </li>
                  <li
                    id="menu-item-59"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"
                  >
                    <a href="#" onClick="return true"
                      >Crypto<span class="menu-item_plus"></span
                    ></a>
                  </li>
                  <li
                  id="menu-item-59"
                  class="menu-item menu-item-type-custom menu-item-object-custom menu-item-59"
                >
                  <a href="#" onClick="return true"
                    >Gambling<span class="menu-item_plus"></span
                  ></a>
                </li>
                  
                  <li
                    id="menu-item-60"
                    class="menu-item menu-item-type-custom menu-item-object-custom menu-item-60"
                  >
                    <a href="#" onClick="return true"
                      >Services<span class="menu-item_plus"></span
                    ></a>
                    {% comment %} <ul class="sub-menu submenu menu-sub-content">
                      <li
                        id="menu-item-3593"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3593"
                      >
                        <a
                          href="services/index.html"
                          onClick="return true"
                          >Services Overview<span
                            class="menu-item_plus"
                          ></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-3626"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3626"
                      >
                        <a
                          href="services/currency-pairs/index.html"
                          onClick="return true"
                          >Currency Pairs<span class="menu-item_plus"></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-3729"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3729"
                      >
                        <a
                          href="services/trading-accounts/index.html"
                          onClick="return true"
                          >Trading Accounts<span
                            class="menu-item_plus"
                          ></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-3739"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3739"
                      >
                        <a
                          href="services/platform-tools/index.html"
                          onClick="return true"
                          >Platform &#038; Tools<span
                            class="menu-item_plus"
                          ></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-3745"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3745"
                      >
                        <a
                          href="services/monitoring-support/index.html"
                          onClick="return true"
                          >Monitoring &#038; Support<span
                            class="menu-item_plus"
                          ></span
                        ></a>
                      </li>
                      <li
                        id="menu-item-3751"
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-3751"
                      >
                        <a
                          href="services/education-training/index.html"
                          onClick="return true"
                          >Education &#038; Training<span
                            class="menu-item_plus"
                          ></span
                        ></a>
                      </li>
                    </ul> {% endcomment %}
                  </li>
                  <li
                    id="menu-item-4054"
                    class="menu-item menu-item-type-post_type menu-item-object-page menu-item-4054"
                  >
                    <a href="contact-us/index.html" onClick="return true"
                      >Contact Us<span class="menu-item_plus"></span
                    ></a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
      <div class="auto-container">
        <div class="outer-box">
          <figure class="logo-box">
            <a href="index.html" title="Ryptocurrencystakes"
              ><img
                src="{% static "assets/images/logo2.png" %}"
                alt="logo"
                style=""
            /></a>
          </figure>
          <div class="menu-area clearfix">
            <nav class="main-menu clearfix">
              <!--Menu will come through Javascript-->
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>