{% extends "base.html" %}
 {% load static %}
 {% block meta %}
 <meta name="robots" content="max-image-preview:large" />
 <!-- Meta Tags for SEO -->
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="description" content="Learn more about RyptocurrencyStakes, a leading cryptocurrency trading platform that combines AI technology with expert insights to help you achieve financial freedom. Discover our mission, values, and commitment to secure and transparent trading.">
 <meta name="keywords" content="about RyptocurrencyStakes, cryptocurrency platform, secure crypto trading, crypto trading mission, crypto investing platform, AI-powered crypto trading, blockchain investments, decentralized finance (DeFi), transparent crypto trading, secure digital currency trading, crypto company values">
 <meta name="robots" content="index, follow">
 <meta name="author" content="RyptocurrencyStakes">
 <meta name="language" content="English">
 <meta name="geo.region" content="UK, CA">
 <meta name="geo.placename" content="London, Toronto">
 
 <!-- Open Graph Tags (for social media preview) -->
 <meta property="og:title" content="About RyptocurrencyStakes – Leading Crypto Trading Platform">
 <meta property="og:description" content="Explore RyptocurrencyStakes, a trusted crypto trading platform that empowers users with AI-driven tools and secure trading experiences. Learn about our mission and values.">
 <meta property="og:type" content="website">
 <meta property="og:url" content='https://ryptocurrencystakes.com/about'/>
 <meta property="og:image" content="https://res.cloudinary.com/daeyqrduj/image/upload/v1723970798/LOGO_imcoep.png">
 <meta property="og:site_name" content="RyptocurrencyStakes">
 
 <!-- Twitter Card Tags (for Twitter preview) -->
 <meta name="twitter:card" content="summary_large_image">
 <meta name="twitter:title" content="About RyptocurrencyStakes – Leading Crypto Trading Platform">
 <meta name="twitter:description" content="Discover RyptocurrencyStakes, a crypto trading platform focused on innovation, transparency, and security. Learn more about our mission and values.">
 <meta name="twitter:image" content="https://res.cloudinary.com/daeyqrduj/image/upload/v1723970798/LOGO_imcoep.png">
 
 <!-- Canonical Tag -->
 <link rel="canonical" href="https://www.ryptocurrencystakes.com/about">
 
 <!-- Favicon -->
 <link rel="icon" href="https://www.ryptocurrencystakes.com/favicon.ico" type="image/x-icon">
 
 <meta property="og:image:secure_url" content="https://res.cloudinary.com/daeyqrduj/image/upload/v1723970798/LOGO_imcoep.png"/>
 <meta property='og:image:type' content='image/png' />
 <meta property='og:image:width' content='1200' />
 <meta property='og:image:height' content='627' />
 <meta property="og:type" content='website'/> 
 <meta name="google-site-verification" content="8PhvG-zfADs2Y4InsNvib9KMYq1_Frz99XoRY3Rle1k" />
 <link rel="dns-prefetch" href="http://fonts.googleapis.com/" />
 
 {% endblock meta %}
 {% block title %}
 About RyptocurrencyStakes | Your Partner in Crypto Trading and Gambling
 {% endblock title %}
 {% block links %}
  {% include "mainapp/includes/_links2.html" %}
 {% endblock links %}

  {% block content %}
  <body class="page-template page-template-tpl-default-elementor page-template-tpl-default-elementor-php page page-id-2955 theme-fxvibe tutor-lms woocommerce-no-js menu-layer elementor-default elementor-kit-10 elementor-page elementor-page-2955" > 

  <div class="boxed_wrapper">
    <!-- preloader -->
      {% comment %} {% include "mainapp/includes/_preloader.html" %} {% endcomment %}
    <!-- preloader end -->
      <!-- main header -->
      {% include "mainapp/includes/_header.html" %}
    <!-- main-header end -->

     <!-- page-title -->
      {% include "mainapp/includes/_crumb.html" %}
      <!-- page-title end -->
      <div
      data-elementor-type="wp-page"
      data-elementor-id="2955"
      class="elementor elementor-2955"
    >
      <div
        class="elementor-element elementor-element-f650170 e-flex e-con-boxed e-con e-parent"
        data-id="f650170"
        data-element_type="container"
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-bf451b0 elementor-widget elementor-widget-fxvibe_hero_title"
            data-id="bf451b0"
            data-element_type="widget"
            data-widget_type="fxvibe_hero_title.default"
          >
            <div class="elementor-widget-container">
              <div class="fxvibe-title-section">
                <div class="sec-title m-0">
                  <h6 class="te-subtitle">About Ryptocurrencystakes</h6>
                  <h2 class="te-title fxvibe-size-default">
                    Welcome to  <br />RyptocurrencyStakes!
                  </h2>
                  <div class="fxvibe-title-section">
                    At RyptocurrencyStakes, we bring you the finest opportunities in betting, casinos, and cryptocurrency investments. Our mission is to empower you to win big, make informed investments, and enjoy a world of thrilling entertainment.
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-ffe7f88 e-con-full e-flex e-con e-child"
            data-id="ffe7f88"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-f7b7499 elementor-widget elementor-widget-fxvibe_button"
              data-id="f7b7499"
              data-element_type="widget"
              data-settings='{"btn_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_button.default"
            >
              <div class="elementor-widget-container">
                <!-- about-style-four -->
                <section class="about-style-four p-0 m-0 yt-btn">
                  <div class="links-box">
                    <ul class="links-list">
                      <li>
                        <a href="#corpval" class="fxvibe-btn"
                          ><span>+</span>Company Story</a
                        >
                      </li>
                    </ul>
                  </div>
                </section>
                <!-- about-style-four end -->
              </div>
            </div>
            <div
              class="elementor-element elementor-element-00a6e01 elementor-widget elementor-widget-fxvibe_button"
              data-id="00a6e01"
              data-element_type="widget"
              data-settings='{"btn_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_button.default"
            >
              <div class="elementor-widget-container">
                <!-- about-style-four -->
                <section class="about-style-four p-0 m-0 yt-btn">
                  <div class="links-box">
                    <ul class="links-list">
                      <li>
                        <a href="#guarval" class="fxvibe-btn"
                          ><span>+</span>Our Guarantee</a
                        >
                      </li>
                    </ul>
                  </div>
                </section>
                <!-- about-style-four end -->
              </div>
            </div>
            <div
              class="elementor-element elementor-element-18d779d elementor-widget elementor-widget-fxvibe_button"
              data-id="18d779d"
              data-element_type="widget"
              data-settings='{"btn_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_button.default"
            >
              <div class="elementor-widget-container">
                <!-- about-style-four -->
                <section class="about-style-four p-0 m-0 yt-btn">
                  <div class="links-box">
                    <ul class="links-list">
                      <li>
                        <a
                          href="#coreval"
                          class="fxvibe-btn"
                          ><span>+</span>Our Core Values</a
                        >
                      </li>
                    </ul>
                  </div>
                </section>
                <!-- about-style-four end -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-da8aba2 e-flex e-con-boxed e-con e-parent"
        data-id="da8aba2"
        data-element_type="container"
      >
        <div class="e-con-inner" style="justify-content:center;">
          <div
            class="elementor-element elementor-element-cb0e27c elementor-widget elementor-widget-image"
            data-id="cb0e27c"
            data-element_type="widget"
            data-widget_type="image.default"
          >
            <div class="elementor-widget-container">
              <img
                loading="lazy"
                decoding="async"
                width="705"
                height="600"
                style="text-align:center;"
                src="{% static "assets/images/about_people2.png"  %}"
                class=" wp-image-2969"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-ffa96ec e-flex e-con-boxed e-con e-parent"
        data-id="ffa96ec"
        data-element_type="container"
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-26cc963 e-con-full e-flex e-con e-child"
            data-id="26cc963"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-6bb7416 elementor-widget elementor-widget-fxvibe_float_image"
              data-id="6bb7416"
              data-element_type="widget"
              data-widget_type="fxvibe_float_image.default"
            >
              <div class="elementor-widget-container">
                <section class="about-style-two p-0 m-0">
                  <div class="align-items-center">
                    <div class="image-box">
                      <figure class="image">
                        <img
                          decoding="async"
                          src="{% static "assets/images/illustration6.png" %}"
                          alt="Awesome Image"
                        />
                      </figure>
                      <div class="experience-box">
                        <div
                          class="shape"
                          style="
                            background-image: url({% static "uploads/2024/02/shape-35.png" %});
                          "
                        ></div>
                        <div class="icon-box">
                          <img
                            decoding="async"
                            src="{% static "uploads/2024/02/icon-37.png" %}"
                            alt="Awesome Image"
                          />
                        </div>
                        <h2>6+ <span>Years</span></h2>
                        <h5>Experience in the market</h5>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-4f7e900 e-con-full e-flex e-con e-child"
            data-id="4f7e900"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-14c3606 elementor-widget elementor-widget-fxvibe_hero_title"
              data-id="14c3606"
              data-element_type="widget"
              data-widget_type="fxvibe_hero_title.default"
            >
              <div class="elementor-widget-container">
                <div class="fxvibe-title-section">
                  <div class="sec-title m-0">
                    <h6 class="te-subtitle">Corporate Journey</h6>
                    <h2 class="te-title fxvibe-size-default">
                        Over 6 Years of Expertise
                    </h2>
                  </div>

                  <div class="text-box">
                    <p class="te-text">
                        With over six years of experience in online gambling and cryptocurrency, our team of experts in digital marketing, financial trading, and customer service is dedicated to bringing you top-tier offers and cutting-edge insights
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-38699cc e-con-full e-flex e-con e-child"
              data-id="38699cc"
              data-element_type="container"
            >
              <div
                class="elementor-element elementor-element-0394045 elementor-widget elementor-widget-image"
                data-id="0394045"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="60"
                    height="60"
                    src="{% static "uploads/2024/02/icon-67.png" %}"
                    class="attachment-full size-full wp-image-2983"
                    alt=""
                  />
                </div>
              </div>
              <div
                class="elementor-element elementor-element-deddb3c elementor-widget elementor-widget-fxvibe_hero_title"
                data-id="deddb3c"
                data-element_type="widget"
                data-widget_type="fxvibe_hero_title.default"
              >
                <div class="elementor-widget-container">
                  <div class="fxvibe-title-section" >
                    <div class="sec-title m-0">
                      <h3 class="te-title fxvibe-size-default">What we offer</h3>
                    </div>

                    <div class="text-box">
                      <p class="te-text">
                        We offer exclusive investment deals, AI-driven trading tools, and access to the best sports betting and casino offers, all curated to help you maximize your profits and enjoy a thrilling experience.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-df030f3 elementor-widget elementor-widget-fxvibe_button"
              data-id="df030f3"
              data-element_type="widget"
              data-settings='{"btn_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"btn_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_button.default"
            >
              <div class="elementor-widget-container">
                <div class="yt-btn about-section p-0 m-0">
                  <div class="content-box m-0 p-0">
                    <div class="btn-box" >
                      <a
                        href="#"
                        class="theme-btn fxvibe-btn"
                        ><span>Explore Services</span></a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-eb8e8fc e-flex e-con-boxed e-con e-parent"
        data-id="eb8e8fc"
        data-element_type="container"
        data-settings='{"background_background":"classic"}'
        
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-51f0c6a e-con-full e-flex e-con e-child"
            data-id="51f0c6a"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-11bc979 elementor-widget elementor-widget-fxvibe_icon_box"
              data-id="11bc979"
              data-element_type="widget"
              data-settings='{"fxvibe_layout_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_icon_box.default"
            >
              <div class="elementor-widget-container">
                <div class="single-column">
                  <div class="funfact-block-one">
                    <div
                      class="inner-box m-0 p-0 border-0 fxvibe-feature-section"
                    >
                      <div class="icon-box" id="guarval">
                        <img
                          decoding="async"
                          src="{% static "uploads/2024/02/icon-68.png" %}"
                          alt="Awesome Image"
                        />
                      </div>
                      <h2 class="te-title">24/7 <span>Availabilty</span></h2>
                      <p class="te-text">
                        All around the clock <br />Trading Support
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% comment %} <div
            class="elementor-element elementor-element-7fffbb8 e-con-full e-flex e-con e-child"
            data-id="7fffbb8"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-91db66e elementor-widget elementor-widget-fxvibe_icon_box"
              data-id="91db66e"
              data-element_type="widget"
              data-settings='{"fxvibe_layout_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_icon_box.default"
            >
              <div class="elementor-widget-container">
                <div class="single-column">
                  <div class="funfact-block-one">
                    <div
                      class="inner-box m-0 p-0 border-0 fxvibe-feature-section"
                    >
                      <div class="icon-box">
                        <img
                          decoding="async"
                          src="{% static "uploads/2024/02/icon-69.png" %}"
                          alt="Awesome Image"
                        />
                      </div>
                      <h2 class="te-title">24 <span>Hrs</span></h2>
                      <p class="te-text">
                        Withdrawal Duration
                         <br />
                         Processing Time
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> {% endcomment %}
          <div
            class="elementor-element elementor-element-c9e2e7c e-con-full e-flex e-con e-child"
            data-id="c9e2e7c"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-653e335 elementor-widget elementor-widget-fxvibe_icon_box"
              data-id="653e335"
              data-element_type="widget"
              data-settings='{"fxvibe_layout_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_icon_box.default"
            >
              <div class="elementor-widget-container">
                <div class="single-column">
                  <div class="funfact-block-one">
                    <div
                      class="inner-box m-0 p-0 border-0 fxvibe-feature-section"
                    >
                      <div class="icon-box">
                        <img
                          decoding="async"
                          src="{% static "uploads/2024/02/icon-70.png" %}"
                          alt="Awesome Image"
                        />
                      </div>
                      <h2 class="te-title">6 <span>years+</span></h2>
                      <p class="te-text">
                        Offering the best solutions <br />and insights
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-6c7567b e-con-full e-flex e-con e-child"
            data-id="6c7567b"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-cbdbbe2 elementor-widget elementor-widget-fxvibe_icon_box"
              data-id="cbdbbe2"
              data-element_type="widget"
              data-settings='{"fxvibe_layout_margin":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_margin_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet_extra":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_tablet":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true},"fxvibe_layout_padding_mobile":{"unit":"px","top":"","right":"","bottom":"","left":"","isLinked":true}}'
              data-widget_type="fxvibe_icon_box.default"
            >
              <div class="elementor-widget-container">
                <div class="single-column">
                  <div class="funfact-block-one">
                    <div
                      class="inner-box m-0 p-0 border-0 fxvibe-feature-section"
                    >
                      <div class="icon-box">
                        <img
                          decoding="async"
                          src="{% static "uploads/2024/02/icon-71.png" %}"
                          alt="Awesome Image"
                        />
                      </div>
                      <h2 class="te-title">100 <span>%</span></h2>
                      <p class="te-text">Exclusive  <br />Offers</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="elementor-element elementor-element-89186b9 e-flex e-con-boxed e-con e-parent"
        data-id="89186b9"
        data-element_type="container"
        data-settings='{"background_background":"classic"}'
      >
        <div class="e-con-inner">
          <div
            class="elementor-element elementor-element-2a740c3 e-con-full e-flex e-con e-child"
            data-id="2a740c3"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-9fa6708 elementor-widget elementor-widget-fxvibe_hero_title"
              data-id="9fa6708"
              data-element_type="widget"
              data-widget_type="fxvibe_hero_title.default"
            >
              <div class="elementor-widget-container">
                <div class="fxvibe-title-section">
                  <div class="sec-title m-0">
                    <h6 class="te-subtitle" id="coreval">Core Values</h6>
                    <h3 class="te-title fxvibe-size-default">
                      Guiding principles of <br />RyptoCurrencyStakes
                    </h3>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-6ccded4 e-con-full e-flex e-con e-child"
            data-id="6ccded4"
            data-element_type="container"
          >
            <section
              class="elementor-element elementor-element-aa304a5 e-con-full e-flex e-con e-child"
              data-id="aa304a5"
              data-element_type="container"
            >
              <div
                class="elementor-element elementor-element-a57170b elementor-widget elementor-widget-image"
                data-id="a57170b"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="370"
                    height="254"
                    src="{% static "uploads/2024/02/statement-1.jpg" %}"
                    class="attachment-full size-full wp-image-3052"
                    alt=""
                    srcset="


                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                  />
                </div>
              </div>
              <div
                class="elementor-element elementor-element-e65d80a elementor-absolute elementor-widget elementor-widget-image"
                data-id="e65d80a"
                data-element_type="widget"
                data-settings='{"_position":"absolute"}'
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="370"
                    height="120"
                    src="{% static "uploads/2024/02/shape-37.png" %}"
                    class="attachment-full size-full wp-image-3063"
                    alt=""
                    srcset="


                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                  />
                </div>
              </div>
              <div
                class="elementor-element elementor-element-0ded506 elementor-absolute elementor-widget elementor-widget-heading"
                data-id="0ded506"
                data-element_type="widget"
                data-settings='{"_position":"absolute"}'
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    Our Mission
                  </h3>
                </div>
              </div>
            </section>
            <div
              class="elementor-element elementor-element-6974ed3 e-con-full e-flex e-con e-child"
              data-id="6974ed3"
              data-element_type="container"
              data-settings='{"background_background":"classic"}'
            >
              <div
                class="elementor-element elementor-element-e969422 elementor-widget elementor-widget-image"
                data-id="e969422"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="60"
                    height="60"
                    src="{% static "uploads/2024/02/icon-73.png" %}"
                    class="attachment-full size-full wp-image-3083"
                    alt=""
                  />
                </div>
              </div>
              <div
                class="elementor-element elementor-element-939d5c1 elementor-widget elementor-widget-fxvibe_hero_title"
                data-id="939d5c1"
                data-element_type="widget"
                data-widget_type="fxvibe_hero_title.default"
              >
                <div class="elementor-widget-container">
                  <div class="fxvibe-title-section">
                    <div class="text-box">
                      <p class="te-text">
                        At RyptocurrencyStakes, Our mission is to bring you the finest opportunities in betting, casinos, and cryptocurrency investments.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="elementor-element elementor-element-b23f88a e-con-full e-flex e-con e-child"
            data-id="b23f88a"
            data-element_type="container"
          >
            <div
              class="elementor-element elementor-element-f596ff2 e-con-full e-flex e-con e-child"
              data-id="f596ff2"
              data-element_type="container"
              data-settings='{"background_background":"classic"}'
            >
              <div
                class="elementor-element elementor-element-4e5c2e1 elementor-widget elementor-widget-image"
                data-id="4e5c2e1"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="60"
                    height="60"
                    src="{% static "uploads/2024/02/icon-72.png" %}"
                    class="attachment-full size-full wp-image-3082"
                    alt=""
                  />
                </div>
              </div>
              <div
                class="elementor-element elementor-element-6db1fba elementor-widget elementor-widget-fxvibe_hero_title"
                data-id="6db1fba"
                data-element_type="widget"
                data-widget_type="fxvibe_hero_title.default"
              >
                <div class="elementor-widget-container">
                  <div class="fxvibe-title-section">
                    <div class="text-box">
                      <p class="te-text">
                        Empowering your success in crypto and gambling.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <section
              class="elementor-element elementor-element-721a07d e-con-full e-flex e-con e-child"
              data-id="721a07d"
              data-element_type="container"
            >
              <div
                class="elementor-element elementor-element-1d61922 elementor-widget elementor-widget-image"
                data-id="1d61922"
                data-element_type="widget"
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="370"
                    height="254"
                    src="{% static "uploads/2024/02/statement-2.jpg" %}"
                    class="attachment-full size-full wp-image-3053"
                    alt=""
                    srcset="


                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                  />
                </div>
              </div>
              <div
                class="elementor-element elementor-element-b64489b elementor-absolute elementor-widget elementor-widget-image"
                data-id="b64489b"
                data-element_type="widget"
                data-settings='{"_position":"absolute"}'
                data-widget_type="image.default"
              >
                <div class="elementor-widget-container">
                  <img
                    loading="lazy"
                    decoding="async"
                    width="370"
                    height="120"
                    src="{% static "uploads/2024/02/shape-37.png" %}"
                    class="attachment-full size-full wp-image-3063"
                    alt=""
                    srcset="


                    "
                    sizes="(max-width: 370px) 100vw, 370px"
                  />
                </div>
              </div>
              <div
                class="elementor-element elementor-element-d07efcf elementor-absolute elementor-widget elementor-widget-heading"
                data-id="d07efcf"
                data-element_type="widget"
                data-settings='{"_position":"absolute"}'
                data-widget_type="heading.default"
              >
                <div class="elementor-widget-container">
                  <h3 class="elementor-heading-title elementor-size-default">
                    Our Vision
                  </h3>
                </div>
              </div>
            </section>
          </div>
          <div
            class="elementor-element elementor-element-af2792e e-con-full e-flex e-con e-child"
            data-id="af2792e"
            data-element_type="container"
            data-settings='{"background_background":"classic"}'
          >
            <div
              class="elementor-element elementor-element-c8972fb elementor-widget elementor-widget-image"
              data-id="c8972fb"
              data-element_type="widget"
              data-widget_type="image.default"
            >
              <div class="elementor-widget-container">
                <img
                  loading="lazy"
                  decoding="async"
                  width="59"
                  height="60"
                  src="{% static "uploads/2024/02/icon-74.png" %}"
                  class="attachment-full size-full wp-image-3084"
                  alt=""
                />
              </div>
            </div>
            <div
              class="elementor-element elementor-element-738f0f2 elementor-widget elementor-widget-fxvibe_hero_title"
              data-id="738f0f2"
              data-element_type="widget"
              data-widget_type="fxvibe_hero_title.default"
            >
              <div class="elementor-widget-container">
                <div class="fxvibe-title-section">
                  <div class="sec-title m-0">
                    <h3 class="te-title fxvibe-size-default">
                      Our Core Values
                    </h3>
                  </div>

                  <div class="text-box">
                    <p class="te-text">
                        We do the research, you keep the reward
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-element elementor-element-f141c26 e-con-full e-flex e-con e-child"
              data-id="f141c26"
              data-element_type="container"
              data-settings='{"background_background":"classic"}'
            >
              <div
                class="elementor-element elementor-element-65dad10 elementor-icon-list--layout-traditional elementor-list-item-link-full_width elementor-widget elementor-widget-icon-list"
                data-id="65dad10"
                data-element_type="widget"
                data-widget_type="icon-list.default"
              >
                <div class="elementor-widget-container">
                  <link
                    rel="stylesheet"
                    href="{% static "uploads/elementor/css/custom-widget-icon-list.mincda7.css" %}"
                  />
                  <ul class="elementor-icon-list-items">
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-angle-double-right"
                          viewBox="0 0 448 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text">Integrity</span>
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-angle-double-right"
                          viewBox="0 0 448 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Customer-Centricity</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-angle-double-right"
                          viewBox="0 0 448 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text">Transparency</span>
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-angle-double-right"
                          viewBox="0 0 448 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Security</span
                      >
                    </li>
                    <li class="elementor-icon-list-item">
                      <span class="elementor-icon-list-icon">
                        <svg
                          aria-hidden="true"
                          class="e-font-icon-svg e-fas-angle-double-right"
                          viewBox="0 0 448 512"
                          xmlns="http://www.w3.org/2000/svg"
                        >
                          <path
                            d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34zm192-34l-136-136c-9.4-9.4-24.6-9.4-33.9 0l-22.6 22.6c-9.4 9.4-9.4 24.6 0 33.9l96.4 96.4-96.4 96.4c-9.4 9.4-9.4 24.6 0 33.9l22.6 22.6c9.4 9.4 24.6 9.4 33.9 0l136-136c9.4-9.2 9.4-24.4 0-33.8z"
                          ></path>
                        </svg>
                      </span>
                      <span class="elementor-icon-list-text"
                        >Excellence</span
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

       
  </div>
  {% include "includes/footer.html" %}
    {% endblock content %}
    {% block scripts %}
    {% include "mainapp/includes/_scripts.html" %}
  {% endblock scripts %}
