
<!DOCTYPE html>
<html lang="en" class="no-js no-svg">
  <head>
    <meta charset="UTF-8" />
    
    <!-- responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% block meta %} {% endblock meta %}
    <title>{% block title %} {% endblock title %}</title>
    <meta name="robots" content="max-image-preview:large" />
    <meta property="og:site_name" content="RYPTOCURRENCY.COM">
    <meta property="og:title" content="Future of finance - Ryptocurrencystakes "/>
    <meta property="og:description" content="Join Ryptocurrencystakes and start trading cryptocurrency today. Enjoy a secure, user-friendly platform designed for both beginners and experts. Empower your financial future with expert insights and top-notch security. Sign up now!"/>
    <meta property="og:keywords" content="nowon security , security company, now on"/>
    <meta property="og:url" content='https://ryptocurrencystakes.com'/>
    <meta property="og:image" content="https://res.cloudinary.com/daeyqrduj/image/upload/v1723970798/LOGO_imcoep.png"/>
    <meta property="og:image:secure_url" content="https://res.cloudinary.com/daeyqrduj/image/upload/v1723970798/LOGO_imcoep.png"/>
    <meta property='og:image:type' content='image/png' />
    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='627' />
      <meta property="og:type" content='website'/> 
    <meta name="google-site-verification" content="8PhvG-zfADs2Y4InsNvib9KMYq1_Frz99XoRY3Rle1k" />
    <link rel="dns-prefetch" href="http://fonts.googleapis.com/" />
    {% block links %}  {% endblock links %}

  </head>

  {% block content %}

  {% endblock content %}
    
  {% block scripts %}
    
  {% endblock scripts %}

  </body>

</html>